<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="40305timfelgentreff.NJUAutoLogin" Version="1.1.0.1" Publisher="CN=5ABEE855-0809-431E-9EB1-BBC5221A386A" />
  <Properties>
    <DisplayName>NJU Auto Login</DisplayName>
    <PublisherDisplayName>timfelgentreff</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="NJU Auto Login" Description="使用本程序自动连接到南京大学校园无线网络，您将无需手动登录您的账号！Will log you in automatically when you connect to NJU-WLAN. No more manual opening of login page!" ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png" ToastCapable="true">
        <m2:SplashScreen Image="images\splashscreen.png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\njulogin.js">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>